<div class="jumbotron">
	 <div class="title">
	  	<!-- <h1 style="color: #16a085;"> <b> ExcelSchool </b> </h1> -->

	  </br>
		<h1 style="font-size: 53px;"> Gratis Excel kurser </br> for studerende </h1>

		<p> Lær Excel online - både som begynder og øvet
		


		</br>
		</br>

		
	
		
		
		<p>  <%= link_to "Få at vide når vi går i luften... Sign up!", new_user_registration_path , class: "btn btn-primary btn-lg" %> </p>
<div/>	




