<div class="jumbotron">
	 <div class="title">
	  	<!-- <h1 style="color: #16a085;"> <b> Alanya Apartment </b> </h1> -->

	  </br>
		<h1 style="font-size: 54px; color: black"> Luksuslejlighed i Alanya til salg </h1>
		<h1 style="font-size: 34px;color: blue"> EUR 129.000 </h1>
		<p style="font-size: 15px; color: white;"> ... skal ses </p>

		
		


		</br>
	

		
		
		
		
		<p style="color: red"> Sælges via dansk ejendomsmægler <button class="btn btn-primary btn-lg" onclick="location.href='#kontakt'">
     kontakt</button> </p>

		
<div/>	




