<body>

<%= render 'pages/jumbotron' %>



<div id="lejligheden">
          
  </br>

  <h2 style="color: #808080;"> <b> LEJLIGHEDEN </b> </h2>

  <h2 style="font-size: 45px; color: #16a085">  </h2>
       
  </br>
  

  <div class="col-sm-3">
    
    <h3> Panoramaudsigt </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Grundet beliggenheden på borgklippen, er der fra lejlighedens to altaner panoramaudsigt over både Alanya by, Taurus bjergene og ikke mindst den populære Kleopatra strand. </p>
  </div>

  <div class="col-sm-3">
    <h3> Hoteladgang til to swimming pools </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Lejligheden er beliggende ved siden af det lille hotel <a href="http://www.villasonata.com">Villa Sonata </a>, hvor der er fri adgang til hotellets to swimming pools, restaurant og tyrkisk bad (hamam). </p>
  </div>
        
  <div class="col-sm-3">
    <h3> 100% moderniseret </h3>
    <p style="font-family: open sans; font-size: 15px; color: black;"> Lejligheden fremstår i god stand med marmorfliser og stuk, og har et areal på 140 m2. Lejligheden har seks air-conditioning anlæg </p>
  </div>

</div>

<div id="plantegning">

<br>

<h2 style="color: #808080;"> <b> PLANTEGNING </b> </h2>

Den øverste etage omfatter en lys entré, badeværelse med jacuzzi og to soveværelser. Herudover en stor stue med delvis havudsigt og adgang til større altan med udsigt over Alanya by og bjergene. Fra køkkenet er der ligeledes adgang til altan med markise og fantastisk udsigt til både hav, bjerge og by! <br> <br>
Lejlighedens nederste etage omfatter to soveværelser, badeværelse med badekar, the-køkken og stor stue med udsigt, hvor der således nemt kan bo en familie på fire.
Nederste etage er forbundet til den øvre etage via en indvendig marmortrappe, som fører op til lejlighedens entré.

</div>





<div id="billeder">
</br>
  <h2 style="color: #808080;"> <b> BILLEDER </b> </h2>
  <h3 style="font-size: 25px; color: black;"> Her kan du se lejligheden </h3>

   </br>

      <!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="myCarousel" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://placehold.it/435x326" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/435x326" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/435x326" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/435x326" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

</div>

<div id="fakta">

<br>

<h2 style="color: #808080;"> <b> FAKTA </b> </h2>


Afstande og rejsetider: <br>
5 minutters gang fra Kleopatra Stranden <br>
10 minutters gang til Alanya Havn (centrum) <br>
Lufthavne: 30 min. til Gazipasa/1,5 time til Antalya <br>
Areal: 140 m2 <br>
Aircondition:  6 stk. (både kold og varm luft) <br>
Badeværelser: 2 stk. (begge med bad) <br>
Altaner:  2 stk. med udsigt <br>
Solvarmeanlæg:  1 stk. til opvarmning af vand <br>
Hårde hvidevarer:  2 køleskabe, komfur med ovn, vaskemaskine <br>
Økonomi <br>
El: Afhængigt af forbrug (kr. 1,25/kW) <br>
Vand:  Afhængigt af forbrug <br>
Forsikring:  Kr. 800 pr. år <br>
Ejerforeningsbidrag:  Kr. 900 pr. år <br>

</div>


<div id="kontakt">
</br>
  <h2 style="color: #2ECC71;"> <b> KONTAKT </b> </h2>

  </br>  
   
  <p style="font-family: open sans; font-size: 15px; color: white;"> Skriv til <u>jantronier@yahoo.dk eller ring på +45 24889160 </u> <br> <br> Jeg ser frem til at høre fra dig. </p>

  </div>

</div>





     
<div id="footer">
<div class="container">



  <p style="font-size: 15px;text-align: center"> </br> &copy; www.alanya-apartment.com </p>

</div>
</div>    


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47817628-1', 'excelschool.tv');
  ga('send', 'pageview');

</script>


</body>


